@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Open+Sans:400,700');

.App {
  text-align: center;
}

.App-header {
  background-color: #e8ab3a;
  height: 100%;
  padding: 20px;
  color: white;
}

.App-links {
  width: 100%;
}

.nav {
  width: 100%;
  text-align: center;
  display: inline-block;
  color: white;
	}

.nav li {
		display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}


.nav li a:link {
  color: white;
  text-decoration: none;
}

.nav li a:hover {
  color: #a02035;
}

.nav li a:active {
  text-decoration: underline;
  color: #a02035;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
    text-decoration: none;
    list-style: none;
}



.nav li a {
    color: white;
    font-size: 30px;
    font-family: 'Gloria Hallelujah', cursive;
/*  font-family: 'Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif"';*/
}

h2, h3, h4, p {
    max-width: 600px;
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Gloria Hallelujah', cursive;
}



h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 20px auto;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 18px;
}

h2 {
    margin: 0 auto 30px auto;
    width: 600px;
}

p {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    line-height: 2em;
    font-size: 16px;
}

iframe {
    margin: 10px auto;
}

.App-logo {
  align-items: left;
  height: 120px;
  width: 280px;
  background: none;
  animation: bounceIn 3s infinite;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

iframe{
    width: 600px;
    height: 315px;
}

img {
    max-width: 600px;
    height: auto;
}

/************Content Page Template***************/
.black {
    background-color: #222;
}

.white {
    background-color: white;
    color: #222;
}

.black, .white {
    padding: 30px;
}

/************ Composition Page ***************/

.comp {
    margin: 20px auto;
}

/************ Writing Page ***************/

.erik {
    padding: 0px 20px;
}

@media screen and (max-width: 600px) {
    h1, h2, h3, h4{
        width: 100%;
    }
    
    iframe {
        width: 100%;
    }
}