.App {
  text-align: center;
}

.App-header {
  background-color: #e8ab3a;
  height: 100%;
  padding: 20px;
  color: white;
}

.App-links {
  width: 100%;
}

.nav {
  width: 100%;
  text-align: center;
  display: inline-block;
  color: white;
	}

.nav li {
		display: inline-block;
    padding: 15px;
}

.nav li a {
  color: white;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
}

.nav li a:link {
  color: white;
  text-decoration: none;
}

.nav li a:hover {
  color: #a02035;
}

.nav li a:active {
  text-decoration: underline;
  color: #a02035;
}

.App-logo-button {
  align-items: left;
  height: 70px;
  width: 70px;
  border: none;
  background: none;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.black {
    background-color: #222;
}

.white {
    background-color: white;
    color: #222;
}

.black, .white {
    padding: 30px;
}

img {
  max-width: 100%;
  max-height: 100%;
}
